@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.jumbotron {
    padding-top: 5rem;
    background-color: #dddddd;
}

.projects {
    padding-top: 5rem;
}
.about {
    padding-top: 5rem;
}
.contact {
    padding-top: 5rem;
}

#projects {
    background-color: #dddddd;
}

.contact i {
    font-size: 30px;
}

.projects img {
    height: 240px;
}

.sosmed a :hover{
    opacity: 0.7;
}
.sosmed i {
    font-size: 30px;
}

.kontak p {
    font-size: 20px;
}

